<meta property="og:type" content="website">
<meta property="og:url" content="https://themarriagehabit.com{{page.url}}">
<meta property="og:title" content="{{ metatitle }}">
<meta property="og:description" content="{{ metadescription }}">
<meta property="og:image" content="{{ image }}">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https:/themarriagehabit.com{{page.url}}">
<meta property="twitter:title" content="{{ metatitle }}">
<meta property="twitter:description" content="{{ metadescription }}">
<meta property="twitter:image" content="{{ image }}">
